core-configuration/src/main/config/data/web/weblib.war/exchange/v6/SilverpeasExchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2019 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.silverpeas.org/exchange" xmlns="http://www.silverpeas.org/exchange" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">

  <xsd:element name="SilverpeasExchange" type="SilverpeasExchangeType">
    <xsd:annotation>
      <xsd:documentation>content of a Silverpeas exchange document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="SilverpeasExchangeType">
    <xsd:sequence>
      <xsd:element name="publications" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="publication" type="PublicationType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="repositories" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="repository" type="RepositoryType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pdc" type="PlanDeClassementType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>le Plan de Classement est associé aux publications dans le fichier d'échange</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="topicTrees" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="topicTree" type="TopicTreeType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="components" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="component" type="ComponentType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="targetComponentId" type="xsd:string" use="optional"/>
    <xsd:attribute name="usePOI" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="DBModelType">
    <xsd:sequence>
      <xsd:element name="dbModelText" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="dbModelImagePath" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="WysiwygType">
    <xsd:attribute name="path" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="XMLModelType">
    <xsd:sequence>
      <xsd:element name="xmlField" type="XMLField" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="XMLField">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicationContentType">
    <xsd:annotation>
      <xsd:documentation>content can be stored in wysiwyg mode or DB model</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="wysiwyg" type="WysiwygType"/>
      <xsd:element name="dbModel" type="DBModelType"/>
      <xsd:element name="xmlModel" type="XMLModelType"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="PublicationType">
    <xsd:sequence>
      <xsd:element name="publicationHeader" type="PublicationHeaderType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>le Header de la publication est optionnel. Si homis alors les règles de gestion font l'importation par défaut</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="publicationContent" type="PublicationContentType" minOccurs="0"/>
      <xsd:element name="attachments" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="attachment" type="AttachmentType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="documents" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="document" type="DocumentType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="topicPositions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>chaque publication est contenu dans au moins un topic</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="topicPosition" type="TopicPositionType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pdcPositions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>le PDC est optionnel</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pdcPosition" type="PdcPositionType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- Import Kmax CoordinatePositions -->
      <xsd:element name="coordinatesPositions" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Le classement dans coordinates est optionnel</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="coordinatePosition" type="CoordinatePositionType" maxOccurs="unbounded"/>
          </xsd:sequence>
          <xsd:attribute name="createEnable" type="xsd:boolean" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <!-- FIN DLE -->
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" use="optional"/>
    <xsd:attribute name="componentId" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="PlanDeClassementType">
    <xsd:sequence>
      <xsd:element name="axis" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="AxisType"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicationHeaderType">
    <xsd:sequence>
      <xsd:element name="name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="creationDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="beginDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="creatorId" type="xsd:int" minOccurs="0"/>
      <xsd:element name="creatorName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="importance" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="version" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="keywords" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status" type="PublicationStatus" default="Valid" minOccurs="0"/>
      <xsd:element name="vignette" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AttachmentType">
    <xsd:sequence>
      <xsd:element name="name" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="xmlModel" type="XMLModelType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" use="optional"/>
    <xsd:attribute name="path" type="xsd:string" use="required"/>
    <xsd:attribute name="updateRule" type="xsd:string" use="optional"/>
    <xsd:attribute name="removeAfterImport" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="DocumentType">
    <xsd:sequence>
      <xsd:element name="name" minOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="versions" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="version" type="VersionType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VersionType">
    <xsd:sequence>
      <xsd:element name="versionType" minOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="creationDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="creatorId" type="xsd:int" minOccurs="0"/>
      <xsd:element name="creatorName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="description" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="xmlModel" type="XMLModelType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="path" type="xsd:string" use="required"/>
    <xsd:attribute name="removeAfterImport" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="TopicPositionType">
    <xsd:attribute name="topicId" type="xsd:int" use="optional"/>
    <xsd:attribute name="explicitPath" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="TopicTreeType">
    <xsd:sequence>
      <xsd:element name="topic" type="TopicType"/>
    </xsd:sequence>
    <xsd:attribute name="componentId" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TopicType">
    <xsd:sequence>
      <xsd:element name="name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="topic" type="TopicType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:int" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PdcPositionType">
    <xsd:sequence>
      <xsd:element name="axisPosition" type="AxisPositionType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AxisPositionType">
    <xsd:attribute name="axisId" type="xsd:int" use="required"/>
    <xsd:attribute name="pdcValuePath" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AxisType">
    <xsd:complexContent>
      <xsd:extension base="PdcValueType">
        <xsd:attribute name="id" type="xsd:int" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PdcValueType">
    <xsd:sequence>
      <xsd:element name="name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pdcValue" type="PdcValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="pdcValuePath" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RepositoryType">
    <xsd:attribute name="path" type="xsd:string" use="required"/>
    <xsd:attribute name="componentId" type="xsd:string" use="required"/>
    <xsd:attribute name="topicId" type="xsd:int" use="required"/>
    <xsd:attribute name="massiveType" type="MassiveImportType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ComponentType">
    <xsd:annotation>
      <xsd:documentation>une instance de composant</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
  </xsd:complexType>
  <!-- Import Kmax -->
  <xsd:complexType name="CoordinatePositionType">
    <xsd:sequence>
      <xsd:element name="coordinateAxis" type="CoordinateAxisType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CoordinateAxisType">
    <xsd:attribute name="axisId" type="xsd:int" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>
  <!-- FIN Import Kmax -->
  <xsd:simpleType name="MassiveImportType">
    <xsd:annotation>
      <xsd:documentation>type possible pour l'importation massive (0 : non récursif, 1 : récursif sans réplication de l__arborescence de répertoire ou 2 : récursif avec réplication)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NO_RECURSIVE"/>
      <xsd:enumeration value="RECURSIVE_NOREPLICATE"/>
      <xsd:enumeration value="RECURSIVE_REPLICATE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PublicationStatus">
    <xsd:annotation>
      <xsd:documentation>valide, visible etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Draft"/>
      <xsd:enumeration value="ToValidate"/>
      <xsd:enumeration value="Valid"/>
      <xsd:enumeration value="UnValidate"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KmeliaComponent">
    <xsd:annotation>
      <xsd:documentation>kmelia147 pour Theme Tracker</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kmelia241"/>
      <xsd:enumeration value="kmelia147"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>